@import "constants.css";

.breadcrumb-container,
.breadcrumb-container ol {
    position: relative;
    padding: 0;
}

.breadcrumb-container ol {
    left: 26px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    list-style: none;
    list-style-position: outside;
    justify-content: center;
    font-size: 15px;
}

.breadcrumb-container ol a {
    text-decoration: none;
}

.breadcrumb-container li {
    position: relative;
    min-width: var(--breadcrumb-min-width);    
    margin: 5px 0;
    border: 1px solid;
}

.breadcrumb-container li:before {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 15px;
    border-radius: 50px;
    left: -20px;
    top: 4px
}

.breadcrumb-container li.current:before{
    background: var(--primary-colour);
    border: 1px solid var(--primary-colour);
}

.breadcrumb-container li.current:after {
    position: absolute;
    content: ' ';
    background: var(--primary-colour);
    height: 2px;
    width: calc(var(--breadcrumb-min-width) + 13px);
    left: -12px;
    top: 19px;
} 
.breadcrumb-container li.selected:before {
    background: var(--primary-colour);
    border: 1px solid var(--primary-colour);
}

.breadcrumb-container li.unselected::before{
    --not-selected: #cecece;
    background-color: var(--not-selected);
    border: 1px solid var(--not-selected);

}

.breadcrumb-container ol li::marker{
}

